alabaster==0.7.12
argcomplete==2.0.0
Babel==2.11.0
beautifulsoup4==4.11.0
blivet==3.5.0
cairocffi==1.3.0
CairoSVG==2.5.2
colorama==0.4.6
configparser==5.3.0
docutils==0.19
pycurl
requests
requests-file
requests-ftp
schedule
setools
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
systemd-python
urllib3
pathlib

